# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\hym\bienaoccc_hym\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
